.THIS .object-list {
    width: 25%;
    margin: 1% 37% 2%;
}

.THIS .select-option {
    height: 170px;
    width: 200px;
    padding: 5px;
}

.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .object_heading {
    font-size: larger;
    margin-bottom: 5px;
}
.THIS .custom-box{
    margin-top:13px;
}